<!--Copyright 2021 @jonot-cyber

This file is part of Edunect.

Edunect is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Edunect is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Edunect.  If not, see <https://www.gnu.org/licenses/>.-->

<script lang="ts">
	import GearIcon from './GearIcon.svelte'
	import GearIconWhite from './GearIconWhite.svelte'
	import { clickOutside } from '../utils/clickOutside'
	import { darkMode } from './options'

	let settingsOpen = false;

	function triggerSettings() {
		settingsOpen = !settingsOpen
	}

	function closeSettings() {
		settingsOpen = false;
	}
</script>

<div id="options">
	<div id="gear" class:rotate={settingsOpen} on:click={triggerSettings}>
		{#if $darkMode}
			<GearIconWhite />
		{:else}
			<GearIcon />
		{/if}
	</div>
	{#if settingsOpen}
		<div id="settingsOption" use:clickOutside on:click_outside={closeSettings}>
			<label>
				Dark Mode:
				<input bind:checked={$darkMode} type="checkbox">
			</label>
			<br/>
			<label>
				Show full name:
				<input type="checkbox">
			</label><br />
			<a href="https://gitlab.com/jonot-cyber/edunect" target="_blank">View Source</a>
		</div>
	{/if}
</div>

<style lang="scss">
	#options {
		float: right;
	}

	#gear {
		transition: 200ms all;
	}

	#gear.rotate {
		transform: rotate(60deg);
	}

	#settingsOption {
		position: absolute;
		left: 80%;
		border: 2px solid var(--dark);
		width: max-content;
		display: block;
		margin: 20px;
		padding: 10px;
		background-color: var(--options-menu);
		color: var(--text-color-light);
	}
</style>
