<!--Copyright 2021 @jonot-cyber

This file is part of Edunect.

Edunect is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Edunect is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Edunect.  If not, see <https://www.gnu.org/licenses/>.-->

<script lang="ts">
	import Channels from "./Channels.svelte"
	import Header from "./Header.svelte"
	import MessageBox from "./messages/MessageBox.svelte"
	import Input from './Input.svelte'
	import Login from './login/Login.svelte'
	import { profile } from './login/login'
	import { prompt } from './messages/message_store'
	import MessagePrompt from './messages/MessagePrompt.svelte';
</script>

<main>
	{#if $prompt != undefined}
		<MessagePrompt />
	{/if}
	{#if $profile == null }
		<Login />
	{/if}
	<Channels/>
	<Header />
	<MessageBox />
	<Input />
</main>

<style>

	:global(body:not(.dark-mode)) {
		--options-menu: white;
		--dark: #c5ccd9;
		--light-dark: #d8dee9;
		--chat-box-dark: white;
		--text-color-dark: white;
		--text-color-light: black;
		--faded-text-color: #aaa;
		--message-prompt: #81a1c1;
	}

	:global(body.dark-mode) {
		--options-menu: #777;
		--dark: #22262e;
		--light-dark: #2e3440;
		--chat-box-dark: #3b4252;
		--text-color-dark: black;
		--text-color-light: white;
		--faded-text-color: #ccc;
		--message-prompt: #5e81ac;
	}

	main {
		width: 100vw;
		height: 100vh;
		display: grid;
		grid-template-rows: min-content min-content 1fr min-content;
		grid-template-columns: min-content auto;
		grid-template-areas: 
			"header header"
			"channels prompt"
			"channels messages"
			"channels input"; 
	}

	@media (min-width: 640px) {
		main {
			max-width: none;
		}
	}
</style>
