<!--Copyright 2021 @jonot-cyber

This file is part of Edunect.

Edunect is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Edunect is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Edunect.  If not, see <https://www.gnu.org/licenses/>.-->

<script lang="ts">
	import { client } from './socket'

	import { channels, channelNumber } from './store'
	import { messages } from './messages/message_store'

	function changeChannel(index: number) {
		channelNumber.set(index)

		client.emit("channel", index)

		$messages = [] // TODO grab messages from server
	}

	const onKeyPress = (e: KeyboardEvent, index: number) => {
		if (e.key === "Enter") {
			changeChannel(index);
		}
	};
</script>

<main>
	{#each channels as channel, index}
		<div tabindex="0" on:keypress={(e) => onKeyPress(e, index)} on:click={() => changeChannel(index)}>{channel.name}</div>
	{/each}
</main>

<style lang="scss">
	main {
		background-color: var(--dark);
		color: black;
		grid-area: channels;
	}

	div {
		color: var(--text-color-light);
		padding: 10px 15px;
		text-decoration: none;

		&:hover {
			background-color: rgba(0, 0, 0, .1);
			cursor: pointer;
		}
	}
</style>
