<!--Copyright 2021 @jonot-cyber

This file is part of Edunect.

Edunect is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Edunect is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Edunect.  If not, see <https://www.gnu.org/licenses/>.-->

<script lang="ts">

	import { userInput, channel } from './store'
	import { client } from './socket'

	const onKeyPress = (e: KeyboardEvent) => {
		if (e.key === "Enter") {

			if ($userInput.length == 0) {
				return
			}

			if ($userInput.length > 2000) {
				return
			}

			// TODO grayed out message while message is still sending?
			client.emit("message", $userInput);
			userInput.set("");
		}
	};
</script>

<input on:keypress={onKeyPress} bind:value={$userInput} placeholder="Send a message to { $channel.name }">

<style lang="scss">
	input {
		font-family: inherit;
		font-size: inherit;
		-webkit-padding: 0.4em 0;
		padding: 0.4em;
		box-sizing: border-box;
		border: none;
		border-top: 1px solid var(--light-dark);
		width: 100%;
		grid-area: input;
		background-color: var(--chat-box-dark);
		color: var(--text-color-light);
		
		&:focus {
			outline: var(--dark) solid 1px;
		}
	}
</style>
