<!--Copyright 2021 @jonot-cyber

This file is part of Edunect.

Edunect is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Edunect is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Edunect.  If not, see <https://www.gnu.org/licenses/>.-->

<script lang="ts">
	import type { Message } from './typings'
	import moment from 'moment';
	import { time } from '../time/time_store';
	import { client, admin } from '../socket'
	import lexer from './lexer'
	import { messages } from './message_store'
	import UserBox from '../user/UserBox.svelte'
	
	function deleteMessage(): void {
		client.emit("deleteMessage", message.message_id)
		$messages = $messages.filter(item => item.message_id != message.message_id)
	}

	function editMessage() {
		editable = true
	}

	function reportMessage(): void {
		client.emit("reportMessage", message.message_id)
	}

	const focus = (e : HTMLTextAreaElement) => {
		e.focus()
	}

	const onKeyPress = (e: KeyboardEvent) => {
		if (e.key == "Enter") {
			client.emit("editMessage", {
				message_id: message.message_id,
				message: message.message
			})
			editable = false
		}
	}

	const showUserInfo = () => {
		userInfoShown = true
	}

	const hideUserInfo = () => {
		userInfoShown = false
	}

	let userInfoShown = false

	let editable = false

	export let message: Message;
</script>

<div class="messageContainer">
	<div class="info" on:click={showUserInfo}>
		{#if userInfoShown}
			<UserBox user={message.author} on:click_outside={hideUserInfo}/>
		{/if}
		<b><span>{message.author.username}</span></b>
		<span class="timestamp">{ moment(Math.min(message.time, $time)).from($time) }</span>
		<br>
	</div>
	<div class="message-text">
		{#if editable}
			<textarea on:keypress={onKeyPress} use:focus bind:value={message.message} />
		{:else}
			{#each message.message.split("\n") as message}
				{@html lexer(message)}<br />
			{/each}
		{/if}
	</div>
	<div class="options">
		{#if message.author.user_id == client.id }
			<button on:click={deleteMessage}>Delete</button>
			<button on:click={editMessage}>Edit</button>
		{:else if $admin == true}
			<button on:click={deleteMessage}>Delete</button>
		{:else}
			<button on:click={reportMessage}>Report</button>
		{/if}
	</div>
</div>

<style lang="scss">
	.timestamp {
		color: --var(--faded-text-color);
		font-size: 0.9em;
	}

	.message-text {
		grid-area: message;
	}

	.options {
		grid-area: options;
		float: right;
	}

	.info {
		grid-area: message-info;
	}
	
	.messageContainer {
		padding: 1em;

		color: var(--text-color-light);
		display: grid; 
		grid-template-columns: auto max-content; 
		grid-template-rows: auto auto; 
		gap: 0px 0px; 
		grid-template-areas: 
		"message-info options"
		"message message"; 

		button {
			visibility: hidden;
		}

		&:hover {
			background-color: rgba(0, 0, 0, 0.1);

			button {
				visibility: visible;
			}
		}
	}
</style>
