<!--Copyright 2021 @jonot-cyber

This file is part of Edunect.

Edunect is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Edunect is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Edunect.  If not, see <https://www.gnu.org/licenses/>.-->

<script lang="ts">
	import { beforeUpdate, afterUpdate } from 'svelte';
	import { client } from '../socket';
	import { messages } from './message_store'
	import Message from './Message.svelte'
	import type { DeleteMessageRequest, EditMessageRequest, Message as MessageType } from './typings'
	import { channel } from '../store'

	let chat: HTMLDivElement;
	let autoScroll: boolean;

	// Autoscroll DOM updates
	// TODO: Automatically scroll even when the scroll bar is not at the bottom of the div

	beforeUpdate(() => {
		autoScroll = chat && (chat.offsetHeight + chat.scrollTop) > (chat.scrollHeight - 20);
	});

	afterUpdate(() => {
		if (autoScroll) chat.scrollTo(0, chat.scrollHeight);
	});

	const append = (message: MessageType) => $messages = [...$messages, message]

	client.on("message", (message: MessageType) => {

		if ($messages.length !== 0) {
			const lastMessage = $messages[$messages.length - 1]

			if (lastMessage.author.user_id != message.author.user_id) {
				append(message);
				return;
			}

			if (message.time - lastMessage.time > 15 * 1000) {
				append(message);
				return;
			}

			lastMessage.message += "\n" + message.message

			$messages[$messages.length - 1] = lastMessage

			return
		}

		append(message);
	})

	client.on("deleteMessage", (messageRequest: DeleteMessageRequest) => {
		$messages = $messages.filter(item => {
			// Author is same as request (security check)
			return !(item.author.user_id == messageRequest.author.user_id || messageRequest.admin
			// Message is same
			&& item.message_id == messageRequest.message_id) 
			// Then it won't pass the filter
		})
	})

	client.on("editMessage", (messageRequest: EditMessageRequest) => {
		const foundMessage = $messages.filter(item => {
			// Author is same as request (security check)
			return item.author.user_id == messageRequest.author.user_id
			// Message is same
			&& item.message_id == messageRequest.message_id
		})

		const messageIndex = $messages.indexOf(foundMessage[0])

		// TODO maybe a better way to edit this JSON?
		const newMessage = {
			message: messageRequest.new_message,
			time: $messages[messageIndex].time,
			author: $messages[messageIndex].author,
			message_id: $messages[messageIndex].message_id
		}

		$messages = [
			...$messages.slice(0, messageIndex),
			newMessage,
			...$messages.slice(messageIndex + 1)
		]
	})
</script>
<div id="messages" bind:this={chat}>
	{#if $messages.length === 0}
		<span id="channelIntroduction">Welcome to { $channel.name }! Start chatting!</span>
	{/if}
	{#each $messages as message}
		<Message {message} />
	{/each}
</div>
<style lang="scss">

	#channelIntroduction {
		color: var(--faded-text-color);
	}

	#messages {
		padding: 1em;
		grid-area: messages;
		overflow: scroll;
		overflow-x: hidden;
		background-color: var(--chat-box-dark);
	}
	::-webkit-scrollbar {
		width: 10px;
	}

	/* Track */
	::-webkit-scrollbar-track {
		background: var(--chat-box-dark); 
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
		background: var(--light-dark); 
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		background: var(--dark); 
	}

	span {
		color: dark-gray;
	}
</style>
