<!--Copyright 2021 @jonot-cyber

This file is part of Edunect.

Edunect is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Edunect is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Edunect.  If not, see <https://www.gnu.org/licenses/>.-->

<script lang="ts">
	import { prompt } from './message_store';
	import { client, admin } from '../socket';

	let editable = false;

	function makeEditable() {
		if ($admin == false) return
		editable = true;
	}

	const onKeyPress = (e: KeyboardEvent) => {
		if (e.key === "Enter") {

			if ($prompt.length == 0) {
				return
			}

			client.emit("channelPromptChange", $prompt)
			
			editable = false
		}
	};
</script>

<div id="message-prompt">
	{#if editable}
		<input on:keypress={onKeyPress} bind:value={$prompt}/>
	{:else}
		<b>Channel Prompt: </b><span on:click={makeEditable}>{ $prompt }</span>
	{/if}
</div>

<style lang="scss">
	#message-prompt {
		grid-area: prompt;
		padding: 20px;
		color: white;
		background-color: var(--message-prompt);
	}

	input {
		width: 100%;
	}

</style>
