<!--Copyright 2021 @jonot-cyber

This file is part of Edunect.

Edunect is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Edunect is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Edunect.  If not, see <https://www.gnu.org/licenses/>.-->

<script lang="ts">
	import type { User } from './typings' 
	import { client } from '../socket'
	import { clickOutside } from '../utils/clickOutside'

	const reportUser = () => {
		client.emit("reportUser", user.user_id)
	}

	export let user: User;
</script>

<div id="user" use:clickOutside on:click_outside>
	<span>{ user.username }</span><br/>
	<span>Email: <a href="mailto:{ user.email }" target="_blank">{ user.email }</a></span>
	<hr/>
	<button on:click={reportUser}>Report</button>
	<button>Send a message</button>
</div>
<style lang="scss">
	#user {
		color: white;
		padding: 20px;
		background-color: gray;
		position: fixed;
	}
</style>
