<!--Copyright 2021 @jonot-cyber

This file is part of Edunect.

Edunect is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Edunect is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Edunect.  If not, see <https://www.gnu.org/licenses/>.-->

<script>
	
	
	import { profile } from './login'
	import { messages } from '../messages/message_store'
	import { randomName } from './names'
	import { randomLorem } from './message'

	function sendRandomMessage() {
		$messages = [...$messages.slice(-10), {
			author: {
				username: randomName()
			},
			message_id: 1,
			message: randomLorem(),
			time: Date.now()
		}]
	}

	function sendMessageSoon() {

		if ($profile != null) return;

		setTimeout(() => {
			if ($profile != null) return;
			sendRandomMessage()
			sendMessageSoon()
		}, Math.random() * (1000 - 400) + 400)
	}

	sendMessageSoon()

	window["login"] = function(newProfile) {
		$messages = [];
		$profile = newProfile.credential;
	}
</script>
<div id="shield">
	<div id="login">
		<h1>Edunect</h1>
		<div id="g_id_onload"
			data-client_id="126205909469-pimp11m3ukq2i7cmhv3ieracrmn8ovi2.apps.googleusercontent.com"
			data-context="signin"
			data-ux_mode="popup"
			data-callback="login"
			data-auto_select="true"
			data-close_on_tap_outside="false">
		</div>

		<div class="g_id_signin"
			data-type="standard"
			data-shape="rectangular"
			data-theme="outline"
			data-text="signin_with"
			data-size="large"
			data-logo_alignment="left">
		</div>
	</div>
</div>

<style lang="scss">

	#shield {
		position: fixed;
		background-color: rgba(255, 255, 255, 0.5);
		width: 100vw;
		height: 100vh;
	}
	#login {
		background-color: white;
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		padding: 2em;
		border-radius: 5px;
		border: 1px solid #E6E6E6;
	}

	:global(#g_a11y_announcement) {
		height: 0px !important;
	}
</style>
